# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

django=3.2.18=pypi_0
django-cors-headers=3.14.0=pypi_0
django-extensions=3.2.1=pypi_0
django-filter=23.1=pypi_0
djangorestframework=3.14.0=pypi_0
exceptiongroup=1.1.0=pypi_0
optional-django=0.3.0=pypi_0
requests=2.28.2=pypi_0
selenium=4.4.3=pypi_0
sqlite=3.40.1=h880c91c_0
sqlparse=0.4.3=pypi_0
webdriver-manager=3.8.5=pypi_0

